<div class="container">
  <div class="row">
    <div class="col">
      <h1>index of food</h1>
      <%= link_to "Create Food", new_eat_path, class:"btn btn-success" %>
    </div>
    <div class="col">
     <table>
       <thead>
         <tr>
           <th>name</th>
           <th>introduction</th>
           <th colspan="3"></th>
         </tr>
       </thead>
       <tbody>
         <% @eats.each do |eat| %>
         <tr>
           <td>
             <%= eat.name %>
           </td>
           <td>
             <%= eat.body %>
           </td>
           <td>
             <%= link_to "Show", eat_path(eat.id) ,class:"btn btn-primary" %>
           </td>
           <td>
             <%= link_to "Destroy", eat_path(eat.id),method: :delete, class:"btn btn-danger" %>
           </td>
         </tr>
         <% end %>
       </tbody>
     </table>
    </div>
  </div>
</div>